footer {
    &.site-footer {
        background-color: $c-content-2;
        color: $c-black;

        a {
            color: $c-white;
            transition: all 0.5s ease-in-out;
            padding-left: 10px;
            width: auto;

            &:hover {
                font-weight: 600;
                text-shadow: 1px 1px $c-accent-3;
                color: $c-accent-2;
                text-decoration: none;
                background-color: $c-content-3;
                border-radius: 15px;
            }
        }

        .ftco-footer-widget {
            ul {
                margin-left: 10px;
            }
        }

        .social {
            ul {
                display: block;

                > {
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }

    hr {
        color: $c-accent-2;
        border: 1px solid $c-accent-2;
    }

}