.custom-header {
    background-color: $c-accent-3;

    &--logo {
        color: $c-accent-2;
    }
    &--button {
        padding: 10px;

        &:hover {
           
        }

        
        &--button-icon {
            color: green($color: $c-accent-3);
            transition: 0.3s;
        }
    }

    &__menu-navigation {

        &__menu-list {
            display: flex;   

            &--menu-item{
                margin: 0 20px;

            }
            &--menu-link {
                color: $c-accent-2;
            }
        }
    }
}