//Fonts

$font-head: 'Shadows Into Light Two',
cursive;
$font-std: 'Montserrat',
sans-serif;


// Colors

$c-black: #000;
$c-white: #fff;
$c-accent-1: #BB9BCC;
$c-accent-2: #7D4699;
$c-accent-3: #DFDBFF;


$c-content-1: #FFE79C;
$c-content-2: #CCBB9B;
$c-content-3: rgba(176, 159, 128, 0.694);


$c-grey: #bdbcbc;